main {
    border: 1px;
    padding: 10px;
    max-width: 1200px;
    display: grid;
    margin: auto;
}

h2 {
    color: white;
    line-height: 3;
}

p {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.fill:hover,
.fill:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

.fill {
    color: white;
}

button {
    color: var(--color);
    transition: 0.25s;
}

button:hover,
button:focus {
    border-color: var(--hover);
    color: coral;
}

body {
    color: #fff;
    background: hsl(227, 10%, 10%);
    font: 300 1em 'Fira Sans', sans-serif;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    display: flex;
}

button {
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    text-decoration: none;
    color: #fff;
}

img {
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.arrow {
    position: absolute;
    width: 3vmin;
    height: 3vmin;
    background: transparent;
    border-top: 1vmin solid white;
    border-right: 1vmin solid white;
    box-shadow: 0 0 0 lightgray;
    transition: all 200ms ease;
    margin-left: 100px;
    margin-top: 100px;
}

.arrow.left {
    left: 0;
    transform: translate3d(0, -50%, 0) rotate(-135deg);
}

.arrow:hover {
    border-color: coral;
    box-shadow: 0.5vmin -0.5vmin 0 white;
}

.arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -60%) rotate(45deg);
    width: 200%;
    height: 200%;
}